*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  background: #1c0630;
}
.todo-content{
  padding: 30px;
  margin:50px;
}
.todo-input{
  display:flex;
  width:100%;
}
.todo-input input{
  width: 100%;
  padding: 20px 5px;
  height: 30px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.todo-input button{
  padding: 3px 20px;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  transition:.5s;
  font-size:18px;
  border-radius: 20px;
}
.todo-input button:hover{
  background:#b5b3b3;
}
.todo-input button:focus{
  outline:unset;
}
.line-through{
  text-decoration:line-through;
}
.right{
  float:left
}
.edit-todo,.update-todo,.remove-todo{
  padding: 0px 5px;
  cursor:pointer;
}
.list-num{
  font-weight:bold;
  padding-right:5px;
}
.todo-content .todo-list{
  list-style-type: none;
  padding-left: 0px;
  background: #f9f9f9;
  margin-top: 20px;
  border-radius:10px ;
}
.todo-content .list-error,.error{
  color:red;
}
.todo-content .todo-list .list-row{
  padding:5px 10px;
  position:relative;
  word-break: break-all;
  display:flex;
  font-size:18px;
  transition:.1s;
  cursor:pointer; 
}
.todo-content .list-row .list-data,.todo-content .list-row .update-data{
  width:100%;
  text-align:justify;
}
.todo-content .todo-list .list-row:nth-child(even){
  background:#009688;
}
.todo-list .edit-todo,.remove-todo,.update-todo{
  visibility:hidden;
}
.edit-todo{
  color: darkblue;
}
.remove-todo{
  color: red;
}
.todo-content .todo-list .list-row:hover{
  background:#d8d8d8;
}
.todo-content .todo-list .list-row:hover .edit-todo{
  visibility:visible;
}
.todo-content .todo-list .list-row:hover .remove-todo{
  visibility:visible;
}
.todo-content .todo-list .list-row:hover .update-todo{
  visibility:visible;

}

@media screen and (max-width: 1000px) {
  body {
    padding: 10px;
  }
  .todo-content{
    padding: 40px 5px;
  
  }
  input[type=text]{
    padding: 50px 1px;
    font-size: 60px;
    cursor: pointer;
  }
  .list-data{
    padding: 50px;
    font-size: 60px;

  }
.add-todo{
  padding: 50px 70px;
}  
.error{
  font-size: 70px;
}
.todo-list .edit-todo,.remove-todo,.update-todo{
  padding: 50px 20px 0 0;
  font-size:76px;